{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2>Добро пожаловать в Task Management System!</h2>
    <div class="image-gallery">
        <img src="media/view.jpeg" alt="Описание изображения 1">
        <img src="media/view1.jpeg" alt="Описание изображения 2">
        <img src="media/tablet.jpeg" alt="Описание изображения 3">
        <img src="media/notebook.jpeg" alt="Описание изображения 4">
        <img src="media/notebook1.jpeg" alt="Описание изображения 5">
        <img src="media/functional.jpeg" alt="Описание изображения 6">
    </div>
{% endblock %}